# PayHub Webhook
##Configuration Process

**With this new service you can receive a notification in two cases:**

* **for each transaction in your account.**
* **when a batch was settled.**
 
Go to your Merchant Administration and select `Webhook Configuration`.

 <%= image_tag "webhook-admin.png" %>
 
There, you will see your current webhook configuration.

From this page, you can enter your website url and select those services for which you would like to receive notifications. 
Also, once that the webhook is configured, you can disable or enable it at any time.

##Services

###Transaction Services
* VirtualHub
* MobileHub
* Recurring Billing
* API

###Batch Service
* Batch

##Requirements

* The endpoint validation only allows HTTPS.
* The controller for your endpoint must be implemented with a POST method.
* The controller for your endpoint must be set to accept JSON.


 <%= image_tag "webhook-admin-config.png" %>

After you have saved your configuration (by selecting the green "Update" button), our service will send you a notification for each event that occurs on your account to the endpoint that you have indicated.

##Events

There are two kinds of events: transactions and settled batches.

##Transaction Message from Webhook to your endpoint


###The JSON message is as follows:
```shell
    {
        "endpoint": "https://yoursite.com/your_controller/",
        "eventType": "transaction",
        "event": {
            "type": {
                "transaction": {
                    "transactionType": "Sale",
                    "recurringBillId": "",
                    "responseText": "VER UNAVAILABLE",
                    "source": "3rd Party API",
                    "cardObscured": "XXXXXXXXXXXX4507",
                    "orgId": "10002",
                    "transactionId": "721",
                    "responseCode": "00"
                }
            }
        }
    }
```


###Fields Meaning

|Key | Type | Value|
|--- | ---- | -----|
|endpoint|String|Your site endpoint to receive the notifications|
|eventType|String| In this case the type is always "transaction"|
|batch_settled|Object|JSON object with batch information|
|transaction|String|Possible values: <br><ul><li> "Sale" </li><li> "Authorization Only" </li><li> "Offline" </li> <li>"Void"</li><li>"Refund"</li></ul>|
|source|String| Possible values: <br><ul><li>"Virtual Terminal"</li><li>"3rd Party API"</li><li>"Recurring"</li><li>"Mobile VT"</li></ul>|
|orgId|String|String| Your organization Id.|
|transactionId|String| The transaction id.|
|recurringBillId|String| The recurring bill id if the transaction was scheduled.|
|cardObscured|String| the obscured card entered for the transaction.|
|responseText|String| A descriptive text of the transaction result.|
|responseCode|String| The code for the transaction result.|

##Batch Message from Webhook to your endpoint

###The JSON message is at follows:

```shell

    {
        "endpoint": "https://yoursite.com/your_controller/",
        "eventType": "batch_settled",
        "event": {
            "type": {
                "batch_settled": {
                    "date": "Thu Oct 29 11:23:11 ART 2015",
                    "batch_id": "102",
                    "net_total": "15",
                    "terminal": "Virtual Hub",
                    "trans_count": "15",
                    "status": "Settled"
                }
            }
        }
    }

```

###Fields Meaning

|Key | Type | Value|
|--- | ---- | -----|
|endpoint|String|Your site endpoint to receive the notifications|
|eventType|String| In this case the type is always "batch_settled" |
|batch_settled|Object|JSON object with batch information|
|date|String| Date.|
|batch_id|String| The batch id.|
|net_total|String| The total amount of money|
|terminal|String| The terminal name.|
|trans_count|String| The number of transaction that were settled on the batch.|
|status|String| The batch status .|


